#banner {
  height: 100vh;
  width: 100vw;
  background: #ababab99;
  position: relative; }
  #banner .background {
    width: 100%;
    height: 100%; }
    #banner .background picture {
      display: block;
      width: 100vw;
      height: 100vh; }
      #banner .background picture img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100vw;
        height: 100vh; }
  #banner .content {
    color: white; }
    #banner .content .social {
      position: absolute;
      top: 50vh;
      text-align: center; }
      #banner .content .social ul {
        list-style: none; }
        #banner .content .social ul li {
          text-decoration: none;
          width: 50px;
          height: 50px;
          font-size: 125%; }
    #banner .content .info {
      position: absolute;
      top: 20vh;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 90vw;
      font-family: "Source Sans Pro";
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase; }
      #banner .content .info .name {
        font-weight: 400;
        font-size: 5vh;
        padding-bottom: 20px; }
      #banner .content .info .tagline {
        font-weight: 500;
        font-size: 2.5vh; }
    #banner .content .readmore {
      position: absolute;
      bottom: 5vh;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: 120%;
      text-align: center;
      text-transform: capitalize;
      font-family: "Roboto", sans-serif; }
      #banner .content .readmore .arrow {
        font-weight: 400;
        font-size: 150%;
        color: white;
        animation-name: bounce;
        transform-origin: center bottom;
        animation-duration: 2s;
        animation-iteration-count: infinite; }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -3px, 0); }
  90% {
    transform: translate3d(0, -1px, 0); } }
