.work {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  background: #ababab99;
  position: relative; }
  .work #work-list {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .work #work-list .project {
      width: 20%;
      margin: 5%;
      padding: 1%;
      text-align: center;
      border: 1px solid black;
      background: #DDDDDD; }
      @media screen and (max-width: 900px) {
        .work #work-list .project {
          width: 30%; } }
      @media screen and (max-width: 600px) {
        .work #work-list .project {
          width: 100%; } }
      .work #work-list .project .project-image {
        width: 100%;
        margin-bottom: 20px; }
      .work #work-list .project .project-name {
        margin-bottom: 15px; }
